<!DOCTYPE html>
<html lang="en">
<head>
    @section Scripts
{

    }
    <link href="@Url.Content("~/Content/style.css") rel="stylesheet" type="text/css" />
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>FindYourGame</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="FindYourGame">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <!-- Favicon
    ================================================== -->
    <link rel="icon" type="image/png" href="https://i.pinimg.com/originals/89/ed/5f/89ed5f5193647c81f54c0007d856d97d.jpg">

    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome/css/all.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="~/Content/plugins/animate-css/animate.css">
    <!-- slick Carousel -->
    <link rel="stylesheet" href="~/Content/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/Content/plugins/slick/slick-theme.css">
    <!-- Colorbox -->
    <link rel="stylesheet" href="~/Content/plugins/colorbox/colorbox.css">
    <!-- Template styles-->
    <link rel="stylesheet" href="~/Content/style.css">


</head>
<body>
    <div class="body-inner">

        <div id="top-bar" class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <ul class="top-info text-center text-md-left">
                            <li>
                                <i class="fas fa-map-marker-alt"></i> <p class="info-text">3400 Istanbul</p>
                            </li>
                        </ul>
                    </div>
                    <!--/ Top info end -->

                    <div class="col-lg-4 col-md-4 top-social text-center text-md-right">
                        <ul class="list-unstyled">
                            <li>
                                <a title="Facebook" href="https://facebook.com">
                                    <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                                </a>
                                <a title="Twitter" href="https://twitter.com">
                                    <span class="social-icon"><i class="fab fa-twitter"></i></span>
                                </a>
                                <a title="Instagram" href="https://instagram.com">
                                    <span class="social-icon"><i class="fab fa-instagram"></i></span>
                                </a>

                            </li>
                        </ul>
                    </div>
                    <!--/ Top social end -->
                </div>
                <!--/ Content row end -->
            </div>
            <!--/ Container end -->
        </div>
        <!--/ Topbar end -->
        <!-- Header start -->
        <header id="header" class="header-one">
            <div class="bg-white">
                <div class="container">
                    <div class="logo-area">
                        <div class="row align-items-center">
                            <div class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
                                <a class="d-block" href="@Url.Action("Index","Game")>
                                    <img loading="lazy" src="https://cdn.dribbble.com/users/1787323/screenshots/12057610/media/8e7e8e869bf389fb727ac393c42e6b27.png?compress=1&resize=400x300" alt="FindYourGame">
                                </a>
                            </div><!-- logo end -->

                            <div class="col-lg-9 header-right">
                                <ul class="top-info-box">
                                    <li>
                                        <div class="info-box">
                                            <div class="info-box-content">
                                                <p class="info-box-title">FindYourGame</p>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info-box">
                                            <div class="info-box-content">
                                                <p class="info-box-title">Email Us</p>
                                                <p class="info-box-subtitle">Contact@FindYourGame.com</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="last">
                                        <div class="info-box last">
                                            <div class="info-box-content">
                                                <p class="info-box-title">Follow Us</p>
                                                <a title="Instagram" href="https://instagram.com">
                                                    <span class="social-icon"><i class="fab fa-instagram"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="header-get-a-quote">
                                        <a class="btn btn-primary" href="@Url.Action("Random","Game")">Random Game</a>
                                    </li>
                                </ul><!-- Ul end -->
                            </div><!-- header right end -->
                        </div><!-- logo area end -->

                    </div><!-- Row end -->
                </div><!-- Container end -->
            </div>

            <div class="site-navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div id="navbar-collapse" class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav mr-auto">
                                        <li class="nav-item dropdown active">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Games<i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="active"><a href="@Url.Action("Action","Game")">Action</a></li>
                                                <li class="active"><a href="@Url.Action("Fight","Game")">Fight</a></li>
                                                <li class="active"><a href="@Url.Action("War","Game")">War</a></li>
                                                
                                                <li class="active"><a href="@Url.Action("Racing","Game")">Racing</a></li>
                                                <li class="active"><a href="@Url.Action("Survival","Game")">Survival</a></li>
                                                <li class="active"><a href="@Url.Action("Platform","Game")">Platform</a></li>
                                                <li class="active"><a href="@Url.Action("Horror","Game")">Horror</a></li>
                                                <li class="active"><a href="@Url.Action("Simulation","Game")">Simulation</a></li>
                                                <li class="active"><a href="@Url.Action("Rpg","Game")">RPG</a></li>
                                                <li class="active"><a href="@Url.Action("Sports","Game")">Sports</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">FindYourGame<i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="@Url.Action("About","Game")">About Us</a></li>


                                            </ul>
                                        </li>



                                        <li class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Search Games</a></li>

                                                <li><a href="#">Comment on Games</a></li>
                                                <li><a href="#">Buy Games</a></li>
                                                <li><a href="#">Share Games</a></li>

                                            </ul>
                                        </li>





                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Game")">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!--/ Col end -->
                    </div>
                    <!--/ Row end -->

                    <div class="nav-search">
                        <span id="search"><i class="fa fa-search"></i></span>
                    </div><!-- Search end -->

                    <div class="search-block" style="display: none;">
                        <label for="search-field" class="w-100 mb-0">
                            <input type="text" class="form-control" id="search-field" placeholder="Type what you want and enter">
                        </label>
                        <span class="search-close">&times;</span>
                    </div><!-- Site search end -->
                </div>
                <!--/ Container end -->

            </div>
            <!--/ Navigation end -->
        </header>
        <!--/ Header end -->

        <div class="banner-carousel banner-carousel-1 mb-0">
            <div class="banner-carousel-item" style="background-image:url(https://www.ubp.com/files/live/sites/ubp/files/image/banner_newsroom/200124_Vignette_Web_Detail.jpg)">
                <div class="slider-content">
                    <div class="container h-100">
                        <div class="row align-items-center h-100">
                            <div class="col-md-12 text-center">
                                <h2 class="slide-title" data-animation-in="slideInLeft">Your Favourite Game Recommendation System</h2>
                                <h3 class="slide-sub-title" data-animation-in="slideInRight">Let's Dive</h3>
                                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                                    
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-carousel-item" style="background-image:url(https://wearesocial-net.s3.amazonaws.com/wp-content/uploads/2020/11/gamer_room.jpg)">
                <div class="slider-content text-left">
                    <div class="container h-100">
                        <div class="row align-items-center h-100">
                            <div class="col-md-12">
                                <h2 class="slide-title-box" data-animation-in="slideInDown">World Class Service</h2>
                                <h3 class="slide-title" data-animation-in="fadeIn">When Service Matters</h3>
                                <h3 class="slide-sub-title" data-animation-in="slideInLeft">Your Choice is Simple</h3>
                                <p data-animation-in="slideInRight">
                                    <a href="services.html" class="slider btn btn-primary border">Find Your Game</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-carousel-item" style="background-image:url(https://www.ericsson.com/49419c/assets/global/qbank/2021/03/11/gaming-129694511d4f7159bb1454d52ed2aa73819e7d.jpg)">
                <div class="slider-content text-right">
                    <div class="container h-100">
                        <div class="row align-items-center h-100">
                            <div class="col-md-12">
                                <h2 class="slide-title" data-animation-in="slideInDown">Let's Start</h2>
                                <h3 class="slide-sub-title" data-animation-in="fadeIn">We believe gaming</h3>

                                <div data-animation-in="slideInLeft">
                                    <a href="#" class="slider btn btn-primary" aria-label="contact-with-us">Sign Up</a>
                                    <a href="#" class="slider btn btn-primary border" aria-label="learn-more-about-us">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="call-to-action-box no-padding">
            <div class="container">
                <div class="action-style-box">
                    <div class="row align-items-center">
                        <div class="col-md-8 text-center text-md-left">
                            <div class="call-to-action-text">
                                <h3 class="action-title">Do you feel lucky?</h3>
                            </div>
                        </div><!-- Col end -->
                        <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                            <div class="call-to-action-btn">
                                <a class="btn btn-dark" href="@Url.Action("Random","Game")">See a Random Game</a>
                            </div>
                        </div><!-- col end -->
                    </div><!-- row end -->
                </div><!-- Action style box -->
            </div><!-- Container end -->
        </section><!-- Action end -->

        <section id="ts-features" class="ts-features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ts-intro">
                            <h2 class="into-title"><b>About Us</b></h2>

                            <p>
                                We are a team passionate about games. We want to offer our users game suggestions, comments and scoring systems based on
                                their searches and requests. We will bring them together with our partner game markets so that our users can buy the games
                                they like.
                            </p>
                        </div><!-- Intro box end -->

                        <div class="gap-20"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="ts-service-box">
                                    <span class="ts-service-icon">
                                        <i class="fas fa-trophy"></i>
                                    </span>
                                    <div class="ts-service-box-content">
                                        <h3 class="service-box-title">We've Repution for Excellence</h3>
                                    </div>
                                </div><!-- Service 1 end -->
                            </div><!-- col end -->

                            <div class="col-md-6">
                                <div class="ts-service-box">
                                    <span class="ts-service-icon">
                                        <i class="fas fa-sliders-h"></i>
                                    </span>
                                    <div class="ts-service-box-content">
                                        <h3 class="service-box-title">We Build Partnerships</h3>
                                    </div>
                                </div><!-- Service 2 end -->
                            </div><!-- col end -->
                        </div><!-- Content row 1 end -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="ts-service-box">
                                    <span class="ts-service-icon">
                                        <i class="fas fa-thumbs-up"></i>
                                    </span>
                                    <div class="ts-service-box-content">
                                        <h3 class="service-box-title">Guided by Commitment</h3>
                                    </div>
                                </div><!-- Service 1 end -->
                            </div><!-- col end -->

                            <div class="col-md-6">
                                <div class="ts-service-box">
                                    <span class="ts-service-icon">
                                        <i class="fas fa-users"></i>
                                    </span>
                                    <div class="ts-service-box-content">
                                        <h3 class="service-box-title">A Team of Professionals</h3>
                                    </div>
                                </div><!-- Service 2 end -->
                            </div><!-- col end -->
                        </div><!-- Content row 1 end -->
                    </div><!-- Col end -->

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <h3 class="into-sub-title">Our Goals</h3>
                        <p>To help players find games that they will be interested in and to contribute to the game industry</p>

                        <div class="accordion accordion-group" id="our-values-accordion">
                            <div class="card">
                                <div class="card-header p-0 bg-transparent" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Recommendation
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#our-values-accordion">
                                    <div class="card-body">
                                        To ensure that users can find the games they will be interested in according to their score, category and similar features.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header p-0 bg-transparent" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Marketing
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#our-values-accordion">
                                    <div class="card-body">
                                        Bringing game stores and developers together with gamers by allowing them to promote their services.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header p-0 bg-transparent" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Feedback
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#our-values-accordion">
                                    <div class="card-body">
                                        In order to increase the service we provide to our users, we take into account all kinds of suggestions and
                                        continue our work according to the feedbacks.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Accordion end -->

                    </div><!-- Col end -->
                </div><!-- Row end -->
            </div><!-- Container end -->
        </section><!-- Feature are end -->




        <section id="project-area" class="project-area solid-bg">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <h3 class="section-sub-title">Recent News</h3>
                    </div>
                </div>


                <div class="row shuffle-wrapper">
                    <div class="col-1 shuffle-sizer"></div>

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/projects/project1.jpg" aria-label="project-img">
                                <img class="img-fluid" src="https://cdn.freebiesupply.com/images/large/2x/steam-logo-white.png" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="https://store.steampowered.com/">Steam Summer Sale started</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 1 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;healthcare&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/projects/project2.jpg" aria-label="project-img">
                                <img class="img-fluid" src="https://www.denofgeek.com/wp-content/uploads/2019/08/elder-scrolls-6.jpg?fit=1600%2C900" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="https://www.ign.com/articles/todd-howard-elder-scrolls-6-design-phase-update">The Elder Scrolls 6 is Still in the Design Phase</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 2 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;infrastructure&quot;,&quot;commercial&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/projects/project3.jpg" aria-label="project-img">
                                <img class="img-fluid" src="https://www.turunculevye.com/wp-content/uploads/2020/09/xbox-series-x-vs-xbox-series-s-kiyaslamasi.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="https://www.ign.com/articles/xbox-cloud-gaming-game-pass-ultimate-release">Xbox Cloud Gaming is Now Fully Available to All Game Pass Ultimate Subscribers</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 3 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;education&quot;,&quot;infrastructure&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/projects/project4.jpg" aria-label="project-img">
                                <img class="img-fluid" src="https://www.roadtovr.com/wp-content/uploads/2020/12/synth-riders.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="https://twitter.com/PlayStation/status/1409867163297533962">Ride musical rails to the rhythm in Synth Riders, a new freestyle dance game coming to PS VR </a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 4 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;infrastructure&quot;,&quot;education&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/projects/project5.jpg" aria-label="project-img">
                                <img class="img-fluid" src="https://www.cnet.com/a/img/QYPndI8tvhadCrjzo59XLaUCkiA=/1200x630/2018/08/01/c915c669-30a3-494a-880b-bfc44d8c04e2/spider-man-ps4-preview-glass.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="https://www.ign.com/articles/spider-man-ratchet-and-clank-developer-multiplayer-project-insomniac">Spider-Man, Ratchet & Clank Developer Is Working on a Multiplayer Project</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 5 end -->


                </div><!-- shuffle end -->
            </div>

            <div class="col-12">
                <div class="general-btn text-center">
                    <a class="btn btn-primary">View All News</a>
                </div>
            </div>

    </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
    </section><!-- Project area end -->

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="column-title">Testimonials</h3>

                    <div id="testimonial-slide" class="testimonial-slide">
                        <div class="item">
                            <div class="quote-item">
                                <span class="quote-text">
                                    The game industry is growing day by day and we are very happy to serve users in such an industry.
                                    Our future goal is to make FindYourGame the number one website followed by gamers.
                                </span>

                                <div class="quote-item-footer">

                                    <div class="quote-item-info">
                                        <h3 class="quote-author">Baran Ozgur Tas</h3>
                                        <span class="quote-subtext">Chief Executive Officer (CEO)</span>
                                    </div>
                                </div>
                            </div><!-- Quote item end -->
                        </div>
                        <!--/ Item 1 end -->

                        <div class="item">
                            <div class="quote-item">
                                <span class="quote-text">
                                    We use a lot of data and by keeping our data fresh,
                                    we make game suggestions to the players.We also show gamer's comments and scores about the games in our system.
                                </span>

                                <div class="quote-item-footer">

                                    <div class="quote-item-info">
                                        <h3 class="quote-author">Emre Isiktekiner</h3>
                                        <span class="quote-subtext">Chief Data Officer (CDO)</span>
                                    </div>
                                </div>
                            </div><!-- Quote item end -->
                        </div>
                        <!--/ Item 2 end -->

                        <div class="item">
                            <div class="quote-item">
                                <span class="quote-text">
                                    In the game industry, there are game stores and game developers as well as the gamer side.
                                    We are very happy to bring the 2 sides together.
                                </span>

                                <div class="quote-item-footer">

                                    <div class="quote-item-info">
                                        <h3 class="quote-author">Mert Doganay</h3>
                                        <span class="quote-subtext">Chief Marketing Officer (CMO)</span>
                                    </div>
                                </div>
                            </div><!-- Quote item end -->
                        </div>
                        <!--/ Item 3 end -->

                    </div>
                    <!--/ Testimonial carousel end-->
                </div><!-- Col end -->

                <div class="col-lg-6 mt-5 mt-lg-0">

                    <h3 class="column-title">Happy Clients</h3>

                    <div class="row all-clients">
                        <div class="col-sm-4 col-6">
                            <figure class="clients-logo">
                                <a href="#!"><img loading="lazy" class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png" alt="clients-logo" /></a>
                            </figure>
                        </div><!-- Client 1 end -->

                        <div class="col-sm-4 col-6">
                            <figure class="clients-logo">
                                <a href="#!"><img loading="lazy" class="img-fluid" src="https://gmedia.playstation.com/is/image/SIEPDC/ps-store-blue-bag-icon-01-22sep20?$native--t$" alt="clients-logo" /></a>
                            </figure>
                        </div><!-- Client 2 end -->

                        <div class="col-sm-4 col-6">
                            <figure class="clients-logo">
                                <a href="#!"><img loading="lazy" class="img-fluid" src="https://compass-ssl.xbox.com/assets/f8/17/f817aa8c-02c1-4ba9-84a8-20d357d52939.jpg?n=Microsoft-Store-2018_Feature-0_Pay_1040x585.jpg" alt="clients-logo" /></a>
                            </figure>
                        </div><!-- Client 3 end -->

                        <div class="col-sm-4 col-6">
                            <figure class="clients-logo">
                                <a href="#!"><img loading="lazy" class="img-fluid" src="https://gonintendo.com/uploads/file_upload/upload/67532/nintendo-eshop-logo.png" alt="clients-logo" /></a>
                            </figure>
                        </div><!-- Client 4 end -->

                        <div class="col-sm-4 col-6">
                            <figure class="clients-logo">
                                <a href="#!"><img loading="lazy" class="img-fluid" src="https://cdn.freelogovectors.net/wp-content/uploads/2019/01/gamestop-logo.png" alt="clients-logo" /></a>
                            </figure>
                        </div><!-- Client 5 end -->



                    </div><!-- Clients row end -->

                </div><!-- Col end -->

            </div>
            <!--/ Content row end -->
        </div>
        <!--/ Container end -->
    </section><!-- Content end -->

    <section class="subscribe no-padding">


        <div class="col-lg-8">
            <div class="ts-newsletter row align-items-center">
                <div class="col-md-5 newsletter-introtext">
                    <h4 class="text-white mb-0">Newsletter Sign-up</h4>
                    <p class="text-white">Latest updates and news</p>
                </div>

                <div class="col-md-7 newsletter-form">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="newsletter-email" class="content-hidden">Newsletter Email</label>
                            <input type="email" name="email" id="newsletter-email" class="form-control form-control-lg" placeholder="Please enter your email" autocomplete="off">
                        </div>
                    </form>
                </div>
            </div><!-- Newsletter end -->
        </div><!-- Col end -->
        </div><!-- Content row end -->
        </div>
        <!--/ Container end -->
    </section>
    <!--/ subscribe end -->



    <footer id="footer" class="footer bg-overlay">
        <div class="footer-main">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4 col-md-6 footer-widget footer-about">
                        <h3 class="widget-title">Find Your Game</h3>
                        <img loading="lazy" class="footer-logo" src="https://cdn.dribbble.com/users/1787323/screenshots/12057610/media/8e7e8e869bf389fb727ac393c42e6b27.png?compress=1&resize=400x300" alt="FindYourGame">

                        <div class="footer-social">
                            <ul>
                                <li>
                                    <a href="https://facebook.com" aria-label="Facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://instagram.com" aria-label="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>

                            </ul>
                        </div><!-- Footer social end -->
                    </div><!-- Col end -->




                </div><!-- Container end -->
            </div><!-- Footer main end -->


    </footer><!-- Footer end -->
    <!-- Javascript Files
                                   ================================================== -->
    <!-- initialize jQuery Library -->
    <script src="~/Content/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/Content/plugins/bootstrap/bootstrap.min.js" defer></script>
    <!-- Slick Carousel -->
    <script src="~/Content/plugins/slick/slick.min.js"></script>
    <script src="~/Content/plugins/slick/slick-animation.min.js"></script>
    <!-- Color box -->
    <script src="~/Content/plugins/colorbox/jquery.colorbox.js"></script>
    <!-- shuffle -->
    <script src="~/Content/plugins/shuffle/shuffle.min.js" defer></script>


    <!-- Google Map API Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
    <!-- Google Map Plugin-->
    <script src="~/Content/plugins/google-map/map.js" defer></script>

    <!-- Template custom -->
    <script src="~/Content/script.js"></script>


    </div><!-- Body inner end -->
</body>

</html>

